VITE_PROJECT_URL=https://sfcidwwlfdzimcymieuz.supabase.co
VITE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNmY2lkd3dsZmR6aW1jeW1pZXV6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDk2MzgzNTUsImV4cCI6MjAyNTIxNDM1NX0.yEsh1t27dbT9uJCJE52WVbeX3-6ATGcvsSiY48mJhKo