.myEvent-body {
  display: flex;
  width: 100%;
  flex-direction: column;
  min-height: 100vh;
}

.myEvent-title {
    font-size: 4em;
    font-weight: bolder;
}

.myEvent-self-body {
  display: flex;
  flex-direction: row;
  margin-top: 5em;
  margin-bottom: 5em;
}

.myEvent-title-button {
  width: 53%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.myEvent-title-button div {
  font-size: xx-large;
  font-weight: bolder;
  color: white;
}

.myEvent-title-button button {
  width: 113px;
  margin-top: 10px;
  background-color: #ffffff;
  color: rgb(4, 4, 4);
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  font-weight: 500;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.myEvent-img {
  position: relative;
  width: 47%;
  background-color: #c3bbbb;
  height: 152px;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  color: white;
}

.myEvent-img div {
  position: absolute;
  width: 5rem;
  background-color: #004567;
  padding-bottom: 3px;
  padding-top: 3px;
  padding-left: 8px;
  padding-right: 8px;
  bottom: 5px;
  right: 5px;
  color: white;
  font-weight: 400;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/*Reverse list*/
.myEvent-self-body-reverse {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 3em;
  margin-bottom: 3em;
}

.myEvent-self-body-reverse .myEvent-img {
  border-radius: 0;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
}

.myEvent-self-body-reverse .myEvent-img div {
  right: 0;
  left: 5px;
}