.home {

}

.swiper-pagination-important {
    width: fit-content !important;
    bottom: 0 !important;
    top: 0 !important;
}

.myTopPage {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}